<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Registro</title>
</head>
<body>
    <h1>Adicionar Registro</h1>
    <form action="/adicionar" method="post">
        <label for="tipo">Tipo de Registro:</label>
        <select id="tipo" name="tipo">
            <option value="1">Cliente</option>
            <option value="2">Usuário</option>
        </select>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>