<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Usuario</title>
    <link rel="stylesheet" href="../static/css/atualizarusuario.css">
</head>
<body>

<h1>Atualizar Registro</h1>
<div id="senhapopup" style="display: none;">
    <label for="senhaUs">Digite sua senha:</label>
    <input type="password" id="senhaUs" name="senhaUs">
    <button id="submitSenhaUS">Enviar</button>
</div>
<a href="/menu">Voltar</a>
<form action="/atualizarusuario/{{ resultados[0] }}" method="post" id="formAtUs">
    <label for="usuario"></label><input type="text" value="{{ resultados[1] }}" id="usuario" name="usuario"
                                        readonly><br>
    <label for="senhaCad"></label><input type="text" id="senhaCad" name="senhaCad" ><br>
    <label for="per"></label>
    <select id="per" name="per">
        <option value="1" {% if resultados[3] == 1 %} selected {% endif %}>Usuário</option>
        <option value="2" {% if resultados[3] == 2 %} selected {% endif %}>Moderador</option>
        <option value="3" {% if resultados[3] == 3 %} selected {% endif %}>Administrador</option>
    </select>
    <label for="senha"></label><input type="password" id="senha" name="senha" placeholder="Insira sua senha"><br>
    <input type="submit" value="Atualizar">
</form>
<a href="/menu">Voltar</a></li>
<form id="deletar-form" action="/deletarusuario/{{ resultados[0] }}" method="POST">
    <input type="hidden" id="delete-senha" name="senha">
    <input type="submit" value="Deletar">
</form>
<script>
    document.getElementById('deletar-form').addEventListener('submit', function(event) {
        var senha = document.getElementById('senha').value;
        document.getElementById('delete-senha').value = senha;
    });
</script>
</body>
</html>