<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Registro</title>
</head>
<body>
    <h1>Atualizar Registro</h1>
    <form action="/atualizar" method="post">
        <label for="nome"></label><input type="text" value="{{ resultados[1] }}" id="nome" name="nome" placeholder="Insira nome" ><br>
        <label for="cpf"></label><input type="number" id="cpf" name="cpf" value="{{ resultados[2] }}" placeholder="Insira CPF"><br>
        <label for="historico"></label><input type="text" id="historico" value="{{ resultados[3] }}" name="historico"  placeholder="Insira anos de pagamento em dia"><br>
        <label for="score"></label><input type="number" id="score" name="score"  value="{{ resultados[4] }}" placeholder="Insira Score"><br>
        <input type="submit" value="Atualizar">
    </form>
</body>
</html>