<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Registros</title>
</head>
<body>
    <h1>Buscar Registros</h1>
    <br>
    <a href="/menu">Voltar</a>
    <br>
    <form action="/buscarusuario" method="post">
        <label for="id"></label><input type="number" id="id" name="id"  placeholder="Insira ID"><br>
        <label for="usuario"></label><input type="text" id="usuario" name="usuario" placeholder="Insira Usuario"><br>
        <label for = "senha"></label><input type="password" id="senha" name="senha" placeholder="Insira sua senha"><br>
        <br>
        <input type="submit" value="Buscar">
    </form>
</body>
</html>