<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuarios - Banco</title>
    <link rel="stylesheet" href="../static/css/buscarusuario.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Buscar Usuarios</h1>
        </header>
        <a href="/menu">Voltar</a>
        <form action="/buscarusuario" method="post">
            <label for="id">ID</label>
            <input type="number" id="id" name="id" placeholder="Insira ID">
            
            <label for="usuario">Usuário</label>
            <input type="text" id="usuario" name="usuario" placeholder="Insira Usuário">
            
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Insira sua senha">
            
            <input type="submit" value="Buscar">
        </form>
    </div>
</body>
</html>