<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <script>
        function showPopup(message) {
            document.getElementById("popup-text").innerText = message;
            document.getElementById("popup").style.display = "block";
        }
    </script>

    <div id="popup" style="display: none;">
        <p id="popup-text"></p>
    </div>

<h1>Login</h1>
<form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Login">


</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    showPopup("{{ messages[0] }}");
</script>
    
{% endif %}
{% endwith %}
</body>
</html>
    