<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Bancário</title>
    <link rel="stylesheet" href="../static/css/menu.css">
</head>
<body>
    <header>
        <h1>Menu Bancário</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/buscar">Buscar Registros</a></li>
            <li><a href="/buscarusuario">Buscar Usuários</a></li>
            <li><a href="/adicionar">Adicionar Registro</a></li>
            <li><a href="/adicionarusuario">Adicionar Usuário</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>
