<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Menu Principal</h1>
    <ul>
        <li><a href="/buscar">Buscar Clientes</a></li>
        <li><a href="/buscarusuario">Buscar Usuarios</a></li>
        <li><a href="/adicionar">Adicionar Registro</a></li>
        <li><a href="/atualizar">Atualizar Registro</a></li>
        <li><a href="/excluir">Excluir Registro</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>